@font-face {
    font-family: "High Tower Text";
    src: url("../fonts/high-tower-text.ttf") format('truetype');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-color: #f7f7f761;
    position: relative;
    min-height: 100vh;
}

body p{
    font-family: "Source Sans Pro", sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif !important;
}

.logo{
    width: 195px;

    @media(min-width: 992px){
        width: 180px;
    }

    @media(min-width: 1240px){
        width: 215px;
    }
}

.logo-nav-container{
    text-align: center;
    margin-bottom: 30px;
}

.link-no-decoration{
    text-decoration: none;
    color: inherit;
}

/* ------------ MENU ------------ */
$menu-color: rgb(250 211 212);

.navbar{
    justify-content: center;

    @media(min-width: 992px){
        background-color: #8cbeaa;
    }

    & a{
        @media(min-width: 992px){
            color: white;
            font-size: 23px;
        }
    }
}

.navbar-nav{
    border: 1px dashed #fad3d4;
    border-top: none;

    & .menu-item{
        display: flex;
        align-items: center;

        &:last-child{

            & .menu-li-sep{
                display: none;
            }

        }

        & .menu-li-sep{
            color: white;
        }
    }

    & .current-menu-item a{
        color: $menu-color;
    }

    @media(min-width: 992px){
        border: none;
    }
}

.nav-link:focus, .nav-link:hover{

    @media(min-width: 992px){
        color: $menu-color;
    }

}

.navbar-toggler:focus{
    box-shadow: none;
}

/* ------------ BOX FORME ROND ------------ */
.box-forme-rond{

    &-titre{
        padding-top: 25px;

        @media(min-width: 768px){
            padding-top: 35px;
        }

        @media(min-width: 1024px){
            padding-top: 50px;
        }

    }

    &-texte{
        padding: 0px 70px;

        @media(min-width: 768px){
            padding: 0px 55px;
        }

    }

}

/* ------------ BLOG ------------ */
.pagination-container {
    display: flex;
    gap: 8px;
    padding: 0;
    list-style: none;
    justify-content: center; /* centre horizontalement */
    align-items: center;
}

.page-item a, .page-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #d3d3d3; /* bordure grise fine */
    border-radius: 6px; /* bords légèrement arrondis */
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    background: #fff;
    transition: 0.2s ease-in-out;
}

.page-item a:hover {
    background: #f5f5f5;
}

.page-item.active span {
    background: #007bff; /* bleu */
    border-color: #007bff;
    color: #fff;
}

.page-item:first-child .page-link{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.page-item:last-child .page-link{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* ------------ FOOTER ------------ */
footer{
    padding: 40px 0 70px 0;
    text-align: center;
    font-size: 14px;
    color: #818181;
}
