@font-face {
    font-family: "High Tower Text";
    src: url("../fonts/high-tower-text.ttf") format('truetype');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format('truetype');
}

body{
    margin-top: 30px;
    background-color: #f7f7f761;
}

body p{
    font-family: "Source Sans Pro", sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: "High Tower Text", serif !important;
}

.logo{
    width: 135px
}

.logo-nav-container{
    text-align: center;
    margin-bottom: 30px;
}

/* ------------ MENU ------------ */

.navbar{
    justify-content: center;
}

.navbar-nav{
    border: 1px dashed #fad3d4;
    border-top: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}