.main-content{
    padding: 0px 60px;
}

.forme1{
    width: 145px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.forme2{
    width: 35px;
    position: absolute;
    right: 0px;
    top: 470px;
}

.forme3{
    display: none;
}